
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Anton&display=swap');
@import url('https://fonts.googleapis.com/css?family=Satisfy&display=swap');

$title: 'Anton', sans-serif;;
$text: 'Abril Fatface', cursive;
$sign: 'Satisfy', cursive;

$left: 33.63%;
$bleft: 66.33%;
$red: #FF0000;

*{
  
  margin: 0;
  padding: 0;
  
  :after, :before {
    box-sizing: border-box;
  }
  
} 
body {
  width: 100%;
  height: 100%;
  overflow: hidden;

}

.viewport{
  width: 100%;
  height: 100vh;
  overflow-y: auto;
}


.content {
  width: 60%; 
  padding-top:50px;
}

.img-container {
  margin: 0 0 50px;
  
  img {
    max-width: 100%;
    width: 100%;
    height: auto;
  }
}
.logo{
  
  position: fixed;
  top: 2%;
  left: 2%;
  z-index: 9000;
  
  img{
    
    width: 200px;
  }
}
nav{
  
  position: fixed;
  top: 10%;
  right: -8px;
  transform: rotate(90deg);
  z-index: 9000;
  
  a{
    
    text-decoration: none;
    transform-origin: center;
    margin-right: 20px;
    
    font-family: $title;
    color: #000;
    
    &:focus, &:hover{
      
      text-decoration: none;
      
      color: #000;
    }
  }
}
.social{
  position: fixed;
  bottom: 2%;
  right: 2%;
  z-index: 9000;
  
  ul{
    
    li{
      
      list-style: none;
      margin-top: 12px;
      
      &:first-child{
        
        margin-top: 0;
      }
      
      img{
        
        width: 30px;
      }
    }
  }
  
}

svg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
  pointer-events: none;
  fill: rgba(255, 0, 0,0.7);
}

.hover{


     fill: rgba(0, 0, 0,0.7);
     color: #FFF;
     display: block;

}

.fade-enter-active, .fade-leave-active {
  transition: opacity 0.25s ease-out;


}

.fade-enter, .fade-leave-to {
  opacity: 0;



}
