
*{

margin: 0;
padding: 0;

  :after, :before {
    box-sizing: border-box;
  }

} 
body {
  height: 100%;
}

.content {
  width: 60%; 
  padding-top:50px;
}

.img-container {
  margin: 0 0 50px;
  
  img {
    max-width: 100%;
    width: 100%;
    height: auto;
  }
}

.title{

  width: 100%;
  display: inline-block;
  text-align: center;
  height: 400px;
  margin-top: 300px;
}
#stage{
  height:100vh;
  width: 100%;
  background: #262626;
  display: flex;
  justify-content: center;
  align-items: center;

}
.box {
  height: 60px;
  width: 60px;
  align-items: center;
  margin: 4px;
  font-size: 1.2em;
  font-weight: 700;
  color: white;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  
}
.box1 {
  background-color: #84c186;
}

.large{

  background: red;
}

.box2 {
  background-color: #8b6c4c;
}

.box3 {
  background-color: #39a3ee;
}

.box4 {
  background-color: #ef9144;
}

.box5 {
  background-color: #cd58eb;
}

.box6 {
  background-color: #b84b4b;
}